{% extends "template.html" %}

{% block title %} Predicciones {% endblock %}

{% block content %}

<nav>
<p><a href="/">Home</a> | <a href="/api/v1/refreshDatabase">Actualización de base de datos</a> | <a href="/api/v1/retrainModel">Reentrenamiento</a></p>
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <p class="error">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

<h2>Predicciones</h2>


<form action="/api/v1/predictModel/" method="post">
    {{ form.hidden_tag() }}
    <p><div class="form-field"> Periodo de tiempo a predecir:
        {{ form.period }}
        {% for error in form.period.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
    </div></p>

    <p><div class="form-field">{{ form.submit }}</div></p>
</form>



{% endblock %}