{% extends "template.html" %}

{% block title %} Predicciones {% endblock %}

{% block content %}

<nav>
<p><a href="/">Home</a> | <a href="/api/v1/predictModel">Predicciones</a> | <a href="/api/v1/refreshDatabase">Reentrenamiento</a></p>
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <p class="error">{{ message }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

<h2>Reentrenamiento del modelo</h2>


<form action="/api/v1/retrainModel/" method="post">
    {{ form.hidden_tag() }}
    <p><div class="form-field">Reentrenar: {{ form.submit }}</div></p>
</form>



{% endblock %}