{% extends "template.html" %}

{% block title %} Actualización de base de datos {% endblock %}

{% block content %}

<nav>
<p><a href="/">Home</a> | <a href="/api/v1/predictModel">Predicciones</a> | <a href="/api/v1/retrainModel">Reentrenamiento</a></p>
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
{% endwith %}

<h2>Actualización de la base de datos</h2>


<form action="/api/v1/refreshDatabase/" method="post">
    {{ form.hidden_tag() }}
    <div>
        Sube un archivo para actualizar la base de datos:
    </div>

    <p><div class="file-field"> Archivo:
        {{ form.file }}
        {% for error in form.file.errors %}
        <p class="error">{{ error }}</p>
        {% endfor %}
    </div></p>

    <p><div class="form-field">{{ form.submit }}</div></p>

</form>

{% endblock %}